php_value allow_url_fopen 1
php_value allow_url_include 1

Options -Indexes

# Set the default file for indexes
DirectoryIndex index.php

# require auth for admin files
#<Files trust-update.php>
#  AuthType Basic
#  AuthName "Your hair looks really, really nice today."
#  AuthUserFile /home/ubuntu/.htpasswd
#  Require valid-user
#</Files>


<IfModule mod_rewrite.c>
    # mod_rewrite rules
    # MultiViews are disabled because of other parsing that we do manually
    Options +FollowSymLinks -MultiViews
    RewriteEngine on
    
    # Corporate Google Domain Rewrites
    RewriteCond %{HTTP_HOST} ^mail.desk.com  [NC]
    RewriteRule ^(.*)$ https://mail.google.com/a/desk.com [R=301,L]
    
    RewriteCond %{HTTP_HOST} ^calendar.desk.com  [NC]
    RewriteRule ^(.*)$ http://www.google.com/calendar/a/desk.com [R=301,L]
    
    RewriteCond %{HTTP_HOST} ^docs.desk.com  [NC]
    RewriteRule ^(.*)$ http://www.google.com/docs/a/desk.com [R=301,L]
    
    #RewriteCond %{HTTP_HOST} ^calendar.desk.com$
    #RewriteRule https://www.google.com/calendar/a/assistly.com
    
    RewriteCond %{HTTP_HOST} ^desk.com [NC]
    RewriteRule ^(.*)$ http://www.desk.com/$1 [R=301,L]
    
    # SubDomains
    RewriteCond %{HTTP_HOST} ^salesforce.desk.com$
    RewriteRule (.*)$ http://support.desk.com/$1?t=116120 [QSA,R=301]
    
    # Trust
    RewriteCond %{HTTP_HOST} ^trust.desk.com$
    RewriteRule (.*)$ http://desk.com/trust [R=301,L]
    
    RewriteCond %{HTTP_HOST} ^blog.desk.com$
    RewriteRule (.*)$ http://www.desk.com/blog/$1 [QSA,R=301]
    
    RewriteCond %{HTTP_HOST} ^updates.desk.com$
    RewriteRule ^/?post/([0-9]+).*$ http://www.desk.com/blog/$1 [QSA,R=301,L]
    
    RewriteCond %{HTTP_HOST} ^updates.desk.com$
    RewriteRule (.*)$ http://www.desk.com/blog/product-updates/ [QSA,R=301]


    # To rewrite https requests as http
    #RewriteCond %{HTTP:X-Forwarded-Port} ^443$
    #RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI}

    
    # If the file is NOT the index.php file
    RewriteCond %{REQUEST_FILENAME} !index.php
    # Hide all PHP files so none can be accessed by HTTP
    RewriteRule (.*)\.php$ index.php/$1
    
    # If the file/dir is NOT real go to index
    RewriteCond $1 !^(index\.php|blog)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [QSA,L]
    
</IfModule>

# If Mod_ewrite is NOT installed go to index.php
<IfModule !mod_rewrite.c>
	
	ErrorDocument 404 /index.php
	
</IfModule> 

<IfModule pagespeed_module>
  ModPagespeedRewriteLevel PassThrough
  ModPagespeedDisallow */blog/wp-admin/*
  #Disabled until we get it working again
  ModPagespeedEnableFilters combine_css,combine_javascript
  ModPagespeedEnableFilters rewrite_css,rewrite_javascript,rewrite_images
  
  #ModPagespeedMaxSegmentLength 10
  #ModPagespeedEnableFilters combine_css
  #ModPagespeedEnableFilters rewrite_css
  
  ModPagespeedEnableFilters inline_css,inline_javascript,inline_images
  ModPagespeedEnableFilters remove_comments,collapse_whitespace,extend_cache,remove_quotes
	ModPagespeedEnableFilters trim_urls
</IfModule>