/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                           */
/* components/share-toolbar.less                                             */
/*                                                                           */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.share-toolbar {
	
	list-style: none;
	.clearfix();
	margin-top: -10px;
	margin-left: -10px;
	margin-bottom: @primary-margin;
	
	&.short {
		
		margin-bottom: @primary-margin-short;
		
	}
	
	&.tall {
		
		margin-bottom: @primary-margin-tall;
		
	}
	
	.share-toolbar-item {
		
		display: block;
		vertical-align: top;
		float: left;
		height: 20px;
		line-height: 20px;
		margin: 10px 0px 0px 10px;
		
		a {
			
			vertical-align: top;
			
		}
		
		&.facebook {
				
		}
		
		&.twitter {
			
			iframe {
				
				width:78px !important;
				
			}
			
		}
		
		&.google-plus {
			
			> div {
				
				width: 58px !important;
				
			}
				
		}
		
		&.linkedin {
		
			.IN-widget {
				
				height: 20px;
				line-height: 20px !important;
				height: 20px !important;
				vertical-align: top !important;
				
				> span {
					
					position: relative;
					top: -8px;
					
					+ span {
						
						top: 1px;
						
					}
					
				}
				
			}
				
		}
		
		
		&:last-child {
			
			margin-right: 0px;
			
		}
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling for widescreen (@viewport-widescreen) and above.     */
/*                                                                           */
/* ========================================================================= */

@media (min-width: @viewport-widescreen) {
	
	.share-toolbar {
		
		margin-bottom: @primary-margin-widescreen;
		
		&.short {
			
			margin-bottom: @primary-margin-short-widescreen;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-widescreen;
			
		}
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling for portrait tablet (@viewport-tablet) to default    */
/* desktop (@viewport-standard).                                                       */
/*                                                                           */
/* ========================================================================= */

@media (min-width: @viewport-tablet) and (max-width: @viewport-tablet-max) {
	
	.share-toolbar {
		
		margin-bottom: @primary-margin-tablet;
		
		&.short {
			
			margin-bottom: @primary-margin-short-tablet;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-tablet;
			
		}
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling up to portrait tablets (@viewport-tablet)            */
/*                                                                           */
/* ========================================================================= */

@media (max-width: @viewport-mobile-landscape-max) {
	
	.share-toolbar {
		
		margin-bottom: @primary-margin-mobile;
		
		&.short {
			
			margin-bottom: @primary-margin-short-mobile;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-mobile;
			
		}
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling up to landscape phones (@viewport-mobile-landscape)   */
/*                                                                           */
/* ========================================================================= */

@media (max-width: @viewport-mobile-max) {
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling for Retina Displays                         */
/*                                                                           */
/* ========================================================================= */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
}