/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* utlities/responsive.less                                                                             */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.hide,
.hidden {
	
	display: none;
	visibility: hidden;
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Visibility Utilities                                                                                 */
/*                                                                                                      */
/* ==================================================================================================== */


.visible-mobile				{	display: none !important; 		}
.visible-mobile-vertical	{	display: none !important; 		}
.visible-mobile-landscape	{	display: none !important;		}
.visible-tablet				{	display: none !important;		}
.visible-desktop			{	display: inherit !important;	}
.visible-widescreen			{	display: none !important;		}

.hidden-mobile				{									}
.hidden-mobile-vertical		{									}
.hidden-mobile-landscape	{									}
.hidden-tablet				{									}
.hidden-desktop				{	display: none !important; 		}
.hidden-widescreen			{									}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for widescreen (@viewport-widescreen) and above.                       */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-widescreen) {
	
	.visible-mobile				{	display: none !important; 		}
	.visible-mobile-vertical	{	display: none !important; 		}
	.visible-mobile-landscape	{	display: none !important;		}
	.visible-tablet				{	display: none !important;		}
	.visible-desktop			{	display: none !important;		}
	.visible-widescreen			{	display: inherit !important;	}
	
	.hidden-mobile				{									}
	.hidden-mobile-vertical		{									}
	.hidden-mobile-landscape	{									}
	.hidden-tablet				{									}
	.hidden-desktop				{									}
	.hidden-widescreen			{	display: none !important;		}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for portrait tablet (@viewport-tablet) to default desktop              */
/* (@viewport-standard).                                                                                */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-tablet) and (max-width: @viewport-tablet-max) {
	
	.visible-mobile				{	display: none !important; 		}
	.visible-mobile-vertical	{	display: none !important; 		}
	.visible-mobile-landscape	{	display: none !important;		}
	.visible-tablet				{	display: inherit !important;	}
	.visible-desktop			{	display: none !important;		}
	.visible-widescreen			{	display: none !important;		}
	
	.hidden-mobile				{									}
	.hidden-mobile-vertical		{									}
	.hidden-mobile-landscape	{									}
	.hidden-tablet				{	display: none !important;		}
	.hidden-desktop				{									}
	.hidden-widescreen			{									}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling up to portrait tablets (@viewport-tablet)                              */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-landscape-max) {
	
	.visible-mobile				{	display: inherit !important; 	}
	.visible-mobile-vertical	{	display: none !important; 		}
	.visible-mobile-landscape	{	display: inherit !important;	}
	.visible-tablet				{	display: none !important;		}
	.visible-desktop			{	display: none !important;		}
	.visible-widescreen			{	display: none !important;		}
	
	.hidden-mobile				{	display: none !important;		}
	.hidden-mobile-vertical		{									}
	.hidden-mobile-landscape	{	display: none !important;		}
	.hidden-tablet				{									}
	.hidden-desktop				{									}
	.hidden-widescreen			{									}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling up to landscape mobiles (@viewport-mobile-landscape)                   */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-max) {
	
	.visible-mobile				{	display: inherit !important; 	}
	.visible-mobile-vertical	{	display: inherit !important; 	}
	.visible-mobile-landscape	{	display: none !important;		}
	.visible-tablet				{	display: none !important;		}
	.visible-desktop			{	display: none !important;		}
	.visible-widescreen			{	display: none !important;		}
	
	.hidden-mobile				{	display: none !important;		}
	.hidden-mobile-vertical		{	display: none !important;		}
	.hidden-mobile-landscape	{									}
	.hidden-tablet				{									}
	.hidden-desktop				{									}
	.hidden-widescreen			{									}
	
}





/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for Retina Displays                                                    */
/*                                                                                                      */
/* ==================================================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
}