/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* core/tables.less                                                                                     */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* ==================================================================================================== */
/*                                                                                                      */
/* Base Tables                                                                                          */
/*                                                                                                      */
/* ==================================================================================================== */

table {
	
	max-width: 100%;
	background-color: @table-background;
	border-collapse: collapse;
	border-spacing: 0;
	
}

/* ==================================================================================================== */
/*                                                                                                      */
/* Default Table Styles                                                                                 */
/*                                                                                                      */
/* ==================================================================================================== */

.table {
	
	width: 100%;
	margin-bottom: @primary-margin;
	
	th,
	td {
		
		padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
		text-align: left;
		vertical-align: top;
		border-top: 1px solid @table-border;
		
	}
	
	th {
		
		color: @table-header-text-color;
		font-size: @table-header-text-font-size;
		font-weight: @table-header-text-font-weight;
		line-height: @table-header-text-line-height;
		
	}
	
	td {
		
		color: @table-body-row-text-color;
		font-size: @table-body-row-text-font-size;
		font-weight: @table-body-row-text-font-weight;
		line-height: @table-body-row-text-line-height;
		
	}
	
	tr {
		
		/* ---------------------------------------------------------------------------------------------------- */
		/* Table Row Active State                                                                               */
		/* ---------------------------------------------------------------------------------------------------- */
		
		&.active td {
			
			background-color: @table-body-row-hover-background;
			color: @table-body-row-hover-text-color;
			font-weight: @table-body-row-hover-text-font-weight;
			
		}
		
		/* ---------------------------------------------------------------------------------------------------- */
		/* Table Row Success State                                                                              */
		/* ---------------------------------------------------------------------------------------------------- */
		
		&.success td {
			
			background-color: @table-body-row-success-background;
			color: @table-body-row-success-text-color;
			font-weight: @table-body-row-success-text-font-weight;
			
		}
		
		/* ---------------------------------------------------------------------------------------------------- */
		/* Table Row warning State                                                                              */
		/* ---------------------------------------------------------------------------------------------------- */
		
		&.warning td {
			
			background-color: @table-body-row-warning-background;
			color: @table-body-row-warning-text-color;
			font-weight: @table-body-row-warning-text-font-weight;
			
		}
		
		/* ---------------------------------------------------------------------------------------------------- */
		/* Table Row Error State                                                                                */
		/* ---------------------------------------------------------------------------------------------------- */
		
		&.error td {
			
			background-color: @table-body-row-error-background;
			color: @table-body-row-error-text-color;
			font-weight: @table-body-row-error-text-font-weight;
			
		}
		
	}
	
	// Bottom align for column headings
	
	thead th {
		
		vertical-align: bottom;
		
	}
	
	// Remove top border from thead by default
	
	caption + thead tr:first-child th,
	caption + thead tr:first-child td,
	colgroup + thead tr:first-child th,
	colgroup + thead tr:first-child td,
	thead:first-child tr:first-child th,
	thead:first-child tr:first-child td {
		
		border-top: 0px;
		
	}
	
	// Account for multiple tbody instances
	
	tbody + tbody {
		
		border-top: 2px solid @table-border;
		
	}
	
	&.short {
		
		margin-bottom: @primary-margin-short;
		
	}
	
	&.tall {
		
		margin-bottom: @primary-margin-tall;
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Condensed Table                                                                                      */
/*                                                                                                      */
/* ==================================================================================================== */

.table.table-condensed {
	
	th,
	td {
		
		padding: @table-condensed-cell-padding-vertical @table-condensed-cell-padding-horizontal;
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Bordered Table                                                                                       */
/*                                                                                                      */
/* ==================================================================================================== */

.table.table-bordered {
	
	border: 1px solid @table-border;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0px;
	.border-radius(@table-border-radius);
	
	th,
	td {
		
		border-left: 1px solid @table-border;
		
	}
	
	// Prevent a double border
	
	caption + thead tr:first-child th,
	caption + tbody tr:first-child th,
	caption + tbody tr:first-child td,
	colgroup + thead tr:first-child th,
	colgroup + tbody tr:first-child th,
	colgroup + tbody tr:first-child td,
	thead:first-child tr:first-child th,
	tbody:first-child tr:first-child th,
	tbody:first-child tr:first-child td {
		
		border-top: 0;
		
	}
	
	// For first th or td in the first row in the first thead or tbody
	
	thead:first-child tr:first-child > th:first-child,
	tbody:first-child tr:first-child > td:first-child,
	tbody:first-child tr:first-child > th:first-child {
		
		.border-top-left-radius(@table-border-radius);
		
	}
	
	thead:first-child tr:first-child > th:last-child,
	tbody:first-child tr:first-child > td:last-child {
		
		.border-top-right-radius(@table-border-radius);
		
	}
	
	// For first th or td in the last row in the last thead or tbody
	
	thead:last-child tr:last-child > th:first-child,
	tbody:last-child tr:last-child > td:first-child,
	tbody:last-child tr:last-child > th:first-child,
	tfoot:last-child tr:last-child > td:first-child {
		
		.border-bottom-left-radius(@table-border-radius);
		
	}
	
	thead:last-child tr:last-child > th:last-child,
	tbody:last-child tr:last-child > td:last-child,
	tfoot:last-child tr:last-child > td:last-child {
		
		.border-bottom-right-radius(@table-border-radius);
		
	}
	
	// Clear border-radius for first and last td in the last row in the last tbody for table with tfoot
	
	tfoot + tbody:last-child tr:last-child td:first-child {
		
		.border-bottom-left-radius(0px);
		
	}
	
	tfoot + tbody:last-child tr:last-child td:last-child {
		
		.border-bottom-right-radius(0px);
		
	}
	
	// Special fixes to round the left border on the first td/th
	caption + thead tr:first-child th:first-child,
	caption + tbody tr:first-child td:first-child,
	colgroup + thead tr:first-child th:first-child,
	colgroup + tbody tr:first-child td:first-child {
		
		.border-top-left-radius(@table-border-radius);
		
	}
	
	caption + thead tr:first-child th:last-child,
	caption + tbody tr:first-child td:last-child,
	colgroup + thead tr:first-child th:last-child,
	colgroup + tbody tr:first-child td:last-child {
		
		.border-top-right-radius(@table-border-radius);
		
	}

}



/* ==================================================================================================== */
/*                                                                                                      */
/* Striped Table                                                                                        */
/*                                                                                                      */
/* ==================================================================================================== */

// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table.table-striped {
	
	tbody {
		
		> tr:nth-child(odd) {
			
			td,
			th {
				
				background-color: @table-body-row-accent-background;
				color: @table-body-row-accent-text-color;
				font-weight: @table-body-row-accent-text-font-weight;
				
			}
			
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Success States                                                                             */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.success td {
				
				background-color: @table-body-row-success-accent-background;
				color: @table-body-row-success-accent-text-color;
				font-weight: @table-body-row-success-accent-text-font-weight;
				
			}
			
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Warning States                                                                             */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.warning td {
				
				background-color: @table-body-row-warning-accent-background;
				color: @table-body-row-warning-accent-text-color;
				font-weight: @table-body-row-warning-accent-text-font-weight;
				
			}
			
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Error States                                                                               */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.error td {
				
				background-color: @table-body-row-error-accent-background;
				color: @table-body-row-error-accent-text-color;
				font-weight: @table-body-row-error-accent-text-font-weight;
				
			}
			
		}
		
	}
	
}

/* ==================================================================================================== */
/*                                                                                                      */
/* Hover Table                                                                                          */
/*                                                                                                      */
/* ==================================================================================================== */

.table.table-hover {
	
	tbody {
		
		tr {
			
			&:hover {
				
				td,
				th {
					
					background-color: @table-body-row-hover-background;
					color: @table-body-row-hover-text-color;
					font-weight: @table-body-row-hover-text-font-weight;
					
				}
				
			}
			
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Active State                                                                               */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.active:hover td {
				
				background-color: @table-body-row-hover-background;
				color: @table-body-row-hover-text-color;
				font-weight: @table-body-row-hover-text-font-weight;
				
			}
				
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Success States                                                                             */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.success:hover td {
				
				background-color: @table-body-row-success-hover-background;
				color: @table-body-row-success-hover-text-color;
				font-weight: @table-body-row-success-hover-text-font-weight;
				
			}
			
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Warning States                                                                             */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.warning:hover td {
				
				background-color: @table-body-row-warning-hover-background;
				color: @table-body-row-warning-hover-text-color;
				font-weight: @table-body-row-warning-hover-text-font-weight;
				
			}
			
			/* ---------------------------------------------------------------------------------------------------- */
			/* Table Row Error States                                                                               */
			/* ---------------------------------------------------------------------------------------------------- */
			
			&.error:hover td {
				
				background-color: @table-body-row-error-hover-background;
				color: @table-body-row-error-hover-text-color;
				font-weight: @table-body-row-error-hover-text-font-weight;
				
			}
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Cell Sizing                                                                                          */
/*                                                                                                      */
/* ==================================================================================================== */

// Reset default grid behavior

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
	
	display: table-cell;
	float: none; // undo default grid column styles
	margin-left: 0; // undo default grid column styles
	
}

// Change the column widths to account for td/th padding

.table td,
.table th {
	
	&.span1		{ .tableColumns(1); }
	&.span2     { .tableColumns(2); }
	&.span3     { .tableColumns(3); }
	&.span4     { .tableColumns(4); }
	&.span5     { .tableColumns(5); }
	&.span6     { .tableColumns(6); }
	&.span7     { .tableColumns(7); }
	&.span8     { .tableColumns(8); }
	&.span9     { .tableColumns(9); }
	&.span10    { .tableColumns(10); }
	&.span11    { .tableColumns(11); }
	&.span12    { .tableColumns(12); }
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for widescreen (@viewport-widescreen) and above.                       */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-widescreen) {
	
	/* ==================================================================================================== */
	/*                                                                                                      */
	/* Default Table Styles                                                                                 */
	/*                                                                                                      */
	/* ==================================================================================================== */
	
	.table {
		
		margin-bottom: @primary-margin-widescreen;
		
		th,
		td {
			
			padding: (@table-cell-padding-vertical * @table-responsive-ratio-widescreen) (@table-cell-padding-horizontal * @table-responsive-ratio-widescreen);
						
		}
		
		th {
			
			font-size: @table-header-text-font-size * @table-responsive-ratio-widescreen;
			line-height: @table-header-text-line-height * @table-responsive-ratio-widescreen;
			
		}
		
		td {
			
			font-size: @table-body-row-text-font-size * @table-responsive-ratio-widescreen;
			line-height: @table-body-row-text-line-height * @body-text-responsive-ratio-widescreen;
			
		}
		
		&.short {
			
			margin-bottom: @primary-margin-short-widescreen;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-widescreen;
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for portrait tablet (@viewport-tablet)      */
/* to default desktop (@viewport-standard).                                  */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-tablet) and (max-width: @viewport-tablet-max) {
	
	/* ==================================================================================================== */
	/*                                                                                                      */
	/* Default Table Styles                                                                                 */
	/*                                                                                                      */
	/* ==================================================================================================== */
	
	.table {
		
		margin-bottom: @primary-margin-tablet;
		
		th,
		td {
			
			padding: (@table-cell-padding-vertical * @table-responsive-ratio-tablet) (@table-cell-padding-horizontal * @table-responsive-ratio-tablet);
						
		}
		
		th {
			
			font-size: @table-header-text-font-size * @table-responsive-ratio-tablet;
			line-height: @table-header-text-line-height * @table-responsive-ratio-tablet;
			
		}
		
		td {
			
			font-size: @table-body-row-text-font-size * @table-responsive-ratio-tablet;
			line-height: @table-body-row-text-line-height * @body-text-responsive-ratio-tablet;
			
		}
		
		&.short {
			
			margin-bottom: @primary-margin-short-tablet;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-tablet;
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling up to portrait tablets (@viewport-tablet)   */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-landscape-max) {
	
	/* ==================================================================================================== */
	/*                                                                                                      */
	/* Default Table Styles                                                                                 */
	/*                                                                                                      */
	/* ==================================================================================================== */
	
	.table {
		
		margin-bottom: @primary-margin-mobile;
		
		th,
		td {
			
			padding: (@table-cell-padding-vertical * @table-responsive-ratio-mobile) (@table-cell-padding-horizontal * @table-responsive-ratio-mobile);
						
		}
		
		th {
			
			font-size: @table-header-text-font-size * @table-responsive-ratio-mobile;
			line-height: @table-header-text-line-height * @table-responsive-ratio-mobile;
			
		}
		
		td {
			
			font-size: @table-body-row-text-font-size * @table-responsive-ratio-mobile;
			line-height: @table-body-row-text-line-height * @body-text-responsive-ratio-mobile;
			
		}
		
		&.short {
			
			margin-bottom: @primary-margin-short-mobile;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-mobile;
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling up to landscape phones                      */
/* (@viewport-mobile-landscape)                                              */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for Retina Displays                         */
/*                                                                                                      */
/* ==================================================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
}