/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* layout/header.less                                                                                   */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



#header,
header {
	
	z-index: @z-index-header;
	.box-shadow(inset 0px -1px 0px 0px rgba(0, 0, 0, 0.05));
	
	.header-toolbar {
		
		padding: @grid-gutter-width / 2;
		.clearfix();
		
		.header-logo {
			
			margin: 0px;
			padding: 0px;
			float: left;
			display: block;
			width: 116px / 2;
			height: 50px / 2;
			background-image: url(/resources/images/layout/header/header-logo.png);
			background-position: 0px 0px;
			background-repeat: no-repeat;
			.background-size(100% 100%);
			
			a {
				
				display: block;
				width: 100%;
				height: 100%;
				
			}
			
			span {
				
				display: none;
				
			}
			
		}
		
		.header-toolbar-nav-toggle {
			
			display: none;
			
		}
		
		.header-actions {
			
			float: right;
			display: none;
			
		}
			
		#nav,
		nav {
			
			float: right;
			.clearfix();
			
			ul {
				
				list-style: none;
				margin: 0px;
				
				li {
					
					display: block;
					float: left;
					list-style: none;
					margin: 0px;
					padding: 0px;
					font-size: @button-text-font-size;
					font-weight: @button-text-font-weight;
					line-height: 25px;
					margin-left: @primary-margin-short;
						
					a {
						
						display: block;
						padding: 0px;
						
					}
					
					&:first-child {
						
						margin-left: 0px;
						
					}
					
				}
				
			}
			
		}
		
	}

	.header-content {

		position: relative;

		.header-title {

			color: @H1-green;

		}
		
		.header-subtitle {
			
			color: @white;
			
		}

	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Screen Size: Small (@screen-small) and above                                                         */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @screen-small) {
	
	#header,
	header {
		
		.header-toolbar {
			
			padding: @grid-gutter-width-screen-small;
			
			.header-logo {
				
				width: 116px;
				height: 50px;
				
			}
			
			#nav,
			nav {
				
				ul {
					
					list-style: none;
					margin: 0px;
					
					li {
						
						line-height: 50px;
						font-size: @button-text-font-size * @button-ratio-screen-small;
						font-weight: @button-text-font-weight * @button-ratio-screen-small;
						margin-left: @primary-margin-short-screen-medium;
						
						&:first-child {
							
							margin-left: 0px;
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Screen Size: Medium (@screen-medium) and above                                                       */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @screen-medium) {
	
	#header,
	header {
		
		.header-toolbar {
			
			padding: @grid-gutter-width-screen-medium;
			
			#nav,
			nav {
				
				ul {
					
					list-style: none;
					margin: 0px;
					
					li {
						
						font-size: @button-text-font-size * @button-ratio-screen-medium;
						font-weight: @button-text-font-weight * @button-ratio-screen-medium;
						margin-left: @primary-margin-short-screen-medium;
						
						&:first-child {
							
							margin-left: 0px;
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Screen Size: Large (@screen-large) and above                                                         */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @screen-large) {
	
	#header,
	header {
		
		.header-toolbar {
			
			padding: @grid-gutter-width-screen-large;
			
			#nav,
			nav {
				
				ul {
					
					list-style: none;
					margin: 0px;
					
					li {
						
						font-size: @button-text-font-size * @button-ratio-screen-large;
						font-weight: @button-text-font-weight * @button-ratio-screen-large;
						margin-left: @primary-margin-short-screen-large;
						
						&:first-child {
							
							margin-left: 0px;
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Retina Displays                                                                                      */
/*                                                                                                      */
/* ==================================================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
	#header,
	header {
		
		.header-toolbar {
			
			.header-logo {
				
				background-image: url(/resources/images/layout/header/header-logo@2x.png);
				
			}
			
		}
		
	}
	
}