/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* layout/stage.less                                                         */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* ==================================================================================================== */
/*                                                                                                      */
/* Stage                                                                     */
/*                                                                                                      */
/* ==================================================================================================== */

#stage {
	
	position: relative;
	
	.stage-pod {
		
		position: relative;

		&.stage-pod-divider {

			border-top: 1px solid @border-color;

		}
		
		&.stage-pod-light {
			
			background: @gray-lighten-90;
			
		}
		
		&.stage-pod-dark {
			
			background: @gray-darken-50;
			
		}
		
		&.stage-pod-midnight {
			
			background: @gray-darken-90;
			
		}
		
		&.stage-pod-color-blue {

			background: @blue;

		}
		
		&.stage-pod-color-red {

			background: @red;

		}
		
	}
		
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for widescreen (@viewport-widescreen) and   */
/* above.                                                                    */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-widescreen) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for portrait tablet (@viewport-tablet)      */
/* to default desktop (@viewport-standard).                                  */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-tablet) and (max-width: @viewport-tablet-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling up to portrait tablets (@viewport-tablet)   */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-landscape-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling up to landscape phones                      */
/* (@viewport-mobile-landscape)                                              */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive changes to styling for Retina Displays                         */
/*                                                                                                      */
/* ==================================================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
		/* ==================================================================================================== */
	/*                                                                                                      */
	/* Stage                                                                     */
	/*                                                                                                      */
	/* ==================================================================================================== */
	
	#stage {
		
		.stage-pod {
			
			&.stage-pod-color {
				
				&.stage-pod-divider {
					
					&.patterned {
						
						&:before {
							
							background-image: url(/resources/images/layout/stage-pod-color-divider-patterned@2x.png);
													
						}
						
					}
					
				}
				
			}
			
			&.stage-pod-divider {
				
				&.patterned {
					
					&:before {
						
						background-image: url(/resources/images/layout/stage-pod-divider-patterned@2x.png);
						
					}
					
				}
				
			}
			
		}
		
	}
	
}