/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                           */
/* scaffolding/layout.less                                                   */
/*                                                                           */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* ========================================================================= */
/*                                                                           */
/* Fixed Grid                                                                */
/*                                                                           */
/* ========================================================================= */

#grid > .core(@grid-column-width-standard, @grid-gutter-width-standard);

.container {
	
	position: relative;
	.container-fixed();
	
}



/* ========================================================================= */
/*                                                                           */
/* Fluid Grid                                                                */
/*                                                                           */
/* ========================================================================= */

#grid > .fluid(@fluid-grid-column-width-standard, @fluid-grid-gutter-width-standard);

.container-fluid {
	
	position: relative;
	.clearfix();
	
}



/* ========================================================================= */
/*                                                                           */
/* Container Pod                                                             */
/*                                                                           */
/* ========================================================================= */
	
.container-pod {
	
	padding-top: @primary-margin;
	padding-bottom: @primary-margin;
	
	&.container-pod-short {
		
		padding-top: @primary-margin-short;
		padding-bottom: @primary-margin-short;
		
	}
	
	&.container-pod-tall {
		
		padding-top: @primary-margin-tall;
		padding-bottom: @primary-margin-tall;
		
	}
	
	&.container-pod-divider {
	
		border-top: 1px solid @border-color;
		
	}
	
	&.container-pod-fill {
		
		padding-top: 0px;
		padding-bottom: 0px;
		height: 100%;
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Row                                                                       */
/*                                                                           */
/* ========================================================================= */

.row-pod {
	
	padding-bottom: @primary-margin;
	
	&.short {
		
		padding-bottom: @primary-margin-short;
		
	}
	
	&.tall {
		
		padding-bottom: @primary-margin-tall;
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling for widescreen (@viewport-widescreen) and above.     */
/*                                                                           */
/* ========================================================================= */

@media (min-width: @viewport-widescreen) {
	
	/* ========================================================================= */
	/*                                                                           */
	/* Fixed Grid                                                                */
	/*                                                                           */
	/* ========================================================================= */
	
	#grid > .core(@grid-column-width-widescreen, @grid-gutter-width-widescreen);
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Fluid Grid                                                                */
	/*                                                                           */
	/* ========================================================================= */
	
	#grid > .fluid(@fluid-grid-column-width-widescreen, @fluid-grid-gutter-width-widescreen);
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Container Pod                                                             */
	/*                                                                           */
	/* ========================================================================= */
		
	.container-pod {
		
		padding-top: @primary-margin-widescreen;
		padding-bottom: @primary-margin-widescreen;
		
		&.container-pod-short {
			
			padding-top: @primary-margin-short-widescreen;
			padding-bottom: @primary-margin-short-widescreen;
			
		}
		
		&.container-pod-tall {
			
			padding-top: @primary-margin-tall-widescreen;
			padding-bottom: @primary-margin-tall-widescreen;
			
		}
		
	}
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Row                                                                       */
	/*                                                                           */
	/* ========================================================================= */
		
	.row-pod {
		
		padding-bottom: @primary-margin-widescreen;
		
		&.short {
			
			padding-bottom: @primary-margin-short-widescreen;
			
		}
		
		&.tall {
			
			padding-bottom: @primary-margin-tall-widescreen;
			
		}
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling for portrait tablet (@viewport-tablet) to default    */
/* desktop (@viewport-standard).                                                       */
/*                                                                           */
/* ========================================================================= */

@media (min-width: @viewport-tablet) and (max-width: @viewport-tablet-max) {
	
	/* ========================================================================= */
	/*                                                                           */
	/* Fixed Grid                                                                */
	/*                                                                           */
	/* ========================================================================= */
	
	#grid > .core(@grid-column-width-tablet, @grid-gutter-width-tablet);
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Fluid Grid                                                                */
	/*                                                                           */
	/* ========================================================================= */
	
	#grid > .fluid(@fluid-grid-column-width-tablet, @fluid-grid-gutter-width-tablet);
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Container Pod                                                             */
	/*                                                                           */
	/* ========================================================================= */
		
	.container-pod {
		
		padding-top: @primary-margin-tablet;
		padding-bottom: @primary-margin-tablet;
		
		&.container-pod-short {
			
			padding-top: @primary-margin-short-tablet;
			padding-bottom: @primary-margin-short-tablet;
			
		}
		
		&.container-pod-tall {
			
			padding-top: @primary-margin-tall-tablet;
			padding-bottom: @primary-margin-tall-tablet;
			
		}
		
	}
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Row                                                                       */
	/*                                                                           */
	/* ========================================================================= */
	
	.row-pod {
		
		padding-bottom: @primary-margin-tablet;
		
		&.short {
			
			padding-bottom: @primary-margin-short-tablet;
			
		}
		
		&.tall {
			
			padding-bottom: @primary-margin-tall-tablet;
			
		}
		
	}
	
}


/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling up to portrait tablets (@viewport-tablet)            */
/*                                                                           */
/* ========================================================================= */

@media (max-width: @viewport-mobile-landscape-max) {
	
	/* ========================================================================= */
	/*                                                                           */
	/* Fixed Grid                                                                */
	/*                                                                           */
	/* ========================================================================= */
	
	.container {
		
		width: auto;
		padding-left: @grid-gutter-width-mobile;
		padding-right: @grid-gutter-width-mobile;
		
	}
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Fluid Grid                                                                */
	/*                                                                           */
	/* ========================================================================= */
	
	.container-fluid {
		
		padding-left: @grid-gutter-width-mobile;
		padding-right: @grid-gutter-width-mobile;
		
	}
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Container Pod                                                             */
	/*                                                                           */
	/* ========================================================================= */
		
	.container-pod {
		
		padding-top: @primary-margin-tablet;
		padding-bottom: @primary-margin-tablet;
		
		&.container-pod-short {
			
			padding-top: @primary-margin-short-tablet;
			padding-bottom: @primary-margin-short-tablet;
			
		}
		
		&.container-pod-tall {
			
			padding-top: @primary-margin-tall-tablet;
			padding-bottom: @primary-margin-tall-tablet;
			
		}
		
	}
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Row                                                                       */
	/*                                                                           */
	/* ========================================================================= */
		
	.spill {
		
		margin-top: @primary-margin-tablet;
		
	}

	.row-pod {
		
		padding-bottom: @primary-margin-tablet;
		
		&.short {
			
			padding-bottom: @primary-margin-short-tablet;
			
		}
		
		&.tall {
			
			padding-bottom: @primary-margin-tall-tablet;
			
		}
		
	}
	
	// Undo negative margin on rows and thumbnails
	
	.row,
	.thumbnails {
		
		margin-left: 0;
		
	}
	
	// Make all grid-sized elements block level again
	
	[class*="span"],
	.row-fluid [class*="span"] {
		
		float: none !important;
		display: block !important;
		width: auto !important;
		margin-left: 0 !important;
		
	}
	
	// Fluid rows
	
	.row-fluid {
		
		width: 100%;
		
	}
	
}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling up to landscape phones (@viewport-mobile-landscape)   */
/*                                                                           */
/* ========================================================================= */

@media (max-width: @viewport-mobile-max) {
	
	/* ========================================================================= */
	/*                                                                           */
	/* Container Pod                                                             */
	/*                                                                           */
	/* ========================================================================= */
		
	.container-pod {
		
		padding-top: @primary-margin-mobile;
		padding-bottom: @primary-margin-mobile;
		
		&.container-pod-short {
			
			padding-top: @primary-margin-short-mobile;
			padding-bottom: @primary-margin-short-mobile;
			
		}
		
		&.container-pod-tall {
			
			padding-top: @primary-margin-tall-mobile;
			padding-bottom: @primary-margin-tall-mobile;
			
		}
		
	}
	
	
	
	/* ========================================================================= */
	/*                                                                           */
	/* Row                                                                       */
	/*                                                                           */
	/* ========================================================================= */
		
	.spill {
		
		margin-top: @primary-margin-mobile;
		
	}

	.row-pod {
		
		padding-bottom: @primary-margin-mobile;
		
		&.short {
			
			padding-bottom: @primary-margin-short-mobile;
			
		}
		
		&.tall {
			
			padding-bottom: @primary-margin-tall-mobile;
			
		}
		
	}

}



/* ========================================================================= */
/*                                                                           */
/* Responsive changes to styling for Retina Displays                         */
/*                                                                           */
/* ========================================================================= */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
}