/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* layout/stage.less                                                                                    */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



#stage {
	
	position: relative;
	background: @stage-background-color;
	
	.stage-pod {
		
		position: relative;
		
		&.stage-pod-light {
			
			background: @stage-pod-light-background-color;
			
		}
		
		&.stage-pod-dark {
			
			background: @stage-pod-dark-background-color;
			
		}

		&.stage-pod-divider {

			border-top: 1px solid @border-color;

		}
		
	}
		
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive Styles: Widescreen (@viewport-widescreen) and larger                                      */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-widescreen) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive Styles: Tablet (@viewport-tablet) to Default Desktop (@viewport-standard)                 */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @viewport-tablet) and (max-width: @viewport-tablet-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive Styles: Tablet (@viewport-tablet) and smaller                                             */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-landscape-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive Styles: Landscape Mobiles (@viewport-mobile-landscape) and smaller                        */
/*                                                                                                      */
/* ==================================================================================================== */

@media (max-width: @viewport-mobile-max) {
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Responsive Styles: Retina Displays                                                                   */
/*                                                                                                      */
/* ==================================================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
}