/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* components/wells.less                                                                                */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.well {
	
	.border-radius(5px);
	background: @white;
	display: block;
	margin: 0 0 0 0;
	padding: @grid-gutter-width-standard;
	overflow: hidden;
	position: relative;
	.clearfix();
	margin-bottom: @primary-margin;
	
	@wellGridColumnWidth: ((@grid-row-width-standard - (4 * @grid-gutter-width-standard)) - (@grid-gutter-width-standard * (@grid-column-count - 1))) / @grid-column-count;
	@wellGridGutterWidth: @grid-gutter-width-standard;
	
	#grid > .core(@wellGridColumnWidth , @wellGridGutterWidth);
	
	&.short {
		
		margin-bottom: @primary-margin-short;
		
	}
	
	&.tall {
		
		margin-bottom: @primary-margin-tall;
		
	}
	
	hr {
		
		margin-left: -@grid-gutter-width-standard !important;
		margin-right: -@grid-gutter-width-standard !important;
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Screen Size: Large (@screen-large) and above                                                         */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @screen-large) {
	
	.well {
		
		padding: @grid-gutter-width-screen-large;
		margin-bottom: @primary-margin-screen-large;
		
		&.short {
			
			margin-bottom: @primary-margin-short-screen-large;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-screen-large;
			
		}
		
		@wellGridColumnWidthWidescreen: ((@grid-row-width-screen-large - (4 * @grid-gutter-width-screen-large)) - (@grid-gutter-width-screen-large * (@grid-column-count - 1))) / @grid-column-count;
		@wellGridGutterWidthWidescreen: @grid-gutter-width-screen-large;
		
		#grid > .core(@wellGridColumnWidthWidescreen , @wellGridGutterWidthWidescreen);
	
		hr {
			
			margin-left: -@grid-gutter-width-screen-large !important;
			margin-right: -@grid-gutter-width-screen-large !important;
			
		}
		
	}
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Screen Size: Small (@screen-small) and above                                                         */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @screen-small) {
	
	.well {
		
		padding: @grid-gutter-width-screen-small;
		margin-bottom: @primary-margin-screen-small;
		
		&.short {
			
			margin-bottom: @primary-margin-short-screen-small;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-screen-small;
			
		}
		
		@wellGridColumnWidthTablet: ((@grid-row-width-screen-small - (4 * @grid-gutter-width-screen-small)) - (@grid-gutter-width-screen-small * (@grid-column-count - 1))) / @grid-column-count;
		@wellGridGutterWidthTablet: @grid-gutter-width-screen-small;
		
		#grid > .core(@wellGridColumnWidthTablet , @wellGridGutterWidthTablet);
	
		hr {
			
			margin-left: -@wellGridGutterWidthTablet !important;
			margin-right: -@wellGridGutterWidthTablet !important;
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Screen Size: Medium (@screen-medium) and above                                                       */
/*                                                                                                      */
/* ==================================================================================================== */

@media (min-width: @screen-medium) {
	
	.well {
		
		margin-bottom: @primary-margin-screen-small;
		
		&.short {
			
			margin-bottom: @primary-margin-short-screen-small;
			
		}
		
		&.tall {
			
			margin-bottom: @primary-margin-tall-screen-small;
			
		}
	
		/* ==================================================================================================== */
		/*                                                                       */
		/* Grid                                                                  */
		/*                                                                       */
		/* ==================================================================================================== */
		
		// Remove width from containers
		
		.container {
			
			width: auto;
			padding-left: 15px;
			padding-right: 15px;
			
		}
		
		.container-fluid {
			
			padding-left: 0px;
			padding-right: 0px;
			
		}
		
		// Fluid rows
		
		.row-fluid {
			
			width: 100%;
			
		}
		
		// Undo negative margin on rows and thumbnails
		
		.row,
		.thumbnails {
			
			margin-left: 0;
			
		}
		
		// Make all grid-sized elements block level again
		
		[class*="span"],
		.row-fluid [class*="span"] {
			
			float: none;
			display: block;
			width: auto;
			margin-left: 0;
			
		}
		
	}
	
}



/* ==================================================================================================== */
/*                                                                                                      */
/* Retina Displays                                                                                      */
/*                                                                                                      */
/* ==================================================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
}