/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                                                                                      */
/* config.less                                                                                          */
/*                                                                                                      */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* ==================================================================================================== */
/*                                                                                                      */
/* Paths                                                                                                */
/*                                                                                                      */
/* ==================================================================================================== */

@image-path:																"../images/";
@font-path:																	"../fonts/";
@css3pie-path:																"/resources/javascript/libs/CSS3Pie/";



/* ==================================================================================================== */
/*                                                                                                      */
/* Colors                                                                                               */
/*                                                                                                      */
/* ==================================================================================================== */

/* ---------------------------------------------------------------------------------------------------- */
/* H1 Green                                                                                             */
/* ---------------------------------------------------------------------------------------------------- */

@H1-green:																#35c5af;

@H1-green-lighten-05:													lighten(@H1-green, 0.05 * (100 - lightness(@H1-green)));
@H1-green-lighten-10:													lighten(@H1-green, 0.10 * (100 - lightness(@H1-green)));
@H1-green-lighten-15:													lighten(@H1-green, 0.15 * (100 - lightness(@H1-green)));
@H1-green-lighten-20:													lighten(@H1-green, 0.20 * (100 - lightness(@H1-green)));
@H1-green-lighten-25:													lighten(@H1-green, 0.25 * (100 - lightness(@H1-green)));
@H1-green-lighten-30:													lighten(@H1-green, 0.30 * (100 - lightness(@H1-green)));
@H1-green-lighten-35:													lighten(@H1-green, 0.35 * (100 - lightness(@H1-green)));
@H1-green-lighten-40:													lighten(@H1-green, 0.40 * (100 - lightness(@H1-green)));
@H1-green-lighten-45:													lighten(@H1-green, 0.45 * (100 - lightness(@H1-green)));
@H1-green-lighten-50:													lighten(@H1-green, 0.50 * (100 - lightness(@H1-green)));
@H1-green-lighten-55:													lighten(@H1-green, 0.55 * (100 - lightness(@H1-green)));
@H1-green-lighten-60:													lighten(@H1-green, 0.60 * (100 - lightness(@H1-green)));
@H1-green-lighten-65:													lighten(@H1-green, 0.65 * (100 - lightness(@H1-green)));
@H1-green-lighten-70:													lighten(@H1-green, 0.70 * (100 - lightness(@H1-green)));
@H1-green-lighten-75:													lighten(@H1-green, 0.75 * (100 - lightness(@H1-green)));
@H1-green-lighten-80:													lighten(@H1-green, 0.80 * (100 - lightness(@H1-green)));
@H1-green-lighten-85:													lighten(@H1-green, 0.85 * (100 - lightness(@H1-green)));
@H1-green-lighten-90:													lighten(@H1-green, 0.90 * (100 - lightness(@H1-green)));
@H1-green-lighten-95:													lighten(@H1-green, 0.95 * (100 - lightness(@H1-green)));

@H1-green-darken-05:													darken(@H1-green, 0.05 * lightness(@H1-green));
@H1-green-darken-10:													darken(@H1-green, 0.10 * lightness(@H1-green));
@H1-green-darken-15:													darken(@H1-green, 0.15 * lightness(@H1-green));
@H1-green-darken-20:													darken(@H1-green, 0.20 * lightness(@H1-green));
@H1-green-darken-25:													darken(@H1-green, 0.25 * lightness(@H1-green));
@H1-green-darken-30:													darken(@H1-green, 0.30 * lightness(@H1-green));
@H1-green-darken-35:													darken(@H1-green, 0.35 * lightness(@H1-green));
@H1-green-darken-40:													darken(@H1-green, 0.40 * lightness(@H1-green));
@H1-green-darken-45:													darken(@H1-green, 0.45 * lightness(@H1-green));
@H1-green-darken-50:													darken(@H1-green, 0.50 * lightness(@H1-green));
@H1-green-darken-55:													darken(@H1-green, 0.55 * lightness(@H1-green));
@H1-green-darken-60:													darken(@H1-green, 0.60 * lightness(@H1-green));
@H1-green-darken-65:													darken(@H1-green, 0.65 * lightness(@H1-green));
@H1-green-darken-70:													darken(@H1-green, 0.70 * lightness(@H1-green));
@H1-green-darken-75:													darken(@H1-green, 0.75 * lightness(@H1-green));
@H1-green-darken-80:													darken(@H1-green, 0.80 * lightness(@H1-green));
@H1-green-darken-85:													darken(@H1-green, 0.85 * lightness(@H1-green));
@H1-green-darken-90:													darken(@H1-green, 0.90 * lightness(@H1-green));
@H1-green-darken-95:													darken(@H1-green, 0.95 * lightness(@H1-green));

/* ---------------------------------------------------------------------------------------------------- */
/* H1 Blue                                                                                              */
/* ---------------------------------------------------------------------------------------------------- */

@H1-blue:																#0098cb;

@H1-blue-lighten-05:													lighten(@H1-blue, 0.05 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-10:													lighten(@H1-blue, 0.10 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-15:													lighten(@H1-blue, 0.15 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-20:													lighten(@H1-blue, 0.20 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-25:													lighten(@H1-blue, 0.25 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-30:													lighten(@H1-blue, 0.30 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-35:													lighten(@H1-blue, 0.35 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-40:													lighten(@H1-blue, 0.40 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-45:													lighten(@H1-blue, 0.45 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-50:													lighten(@H1-blue, 0.50 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-55:													lighten(@H1-blue, 0.55 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-60:													lighten(@H1-blue, 0.60 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-65:													lighten(@H1-blue, 0.65 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-70:													lighten(@H1-blue, 0.70 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-75:													lighten(@H1-blue, 0.75 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-80:													lighten(@H1-blue, 0.80 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-85:													lighten(@H1-blue, 0.85 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-90:													lighten(@H1-blue, 0.90 * (100 - lightness(@H1-blue)));
@H1-blue-lighten-95:													lighten(@H1-blue, 0.95 * (100 - lightness(@H1-blue)));

@H1-blue-darken-05:														darken(@H1-blue, 0.05 * lightness(@H1-blue));
@H1-blue-darken-10:														darken(@H1-blue, 0.10 * lightness(@H1-blue));
@H1-blue-darken-15:														darken(@H1-blue, 0.15 * lightness(@H1-blue));
@H1-blue-darken-20:														darken(@H1-blue, 0.20 * lightness(@H1-blue));
@H1-blue-darken-25:														darken(@H1-blue, 0.25 * lightness(@H1-blue));
@H1-blue-darken-30:														darken(@H1-blue, 0.30 * lightness(@H1-blue));
@H1-blue-darken-35:														darken(@H1-blue, 0.35 * lightness(@H1-blue));
@H1-blue-darken-40:														darken(@H1-blue, 0.40 * lightness(@H1-blue));
@H1-blue-darken-45:														darken(@H1-blue, 0.45 * lightness(@H1-blue));
@H1-blue-darken-50:														darken(@H1-blue, 0.50 * lightness(@H1-blue));
@H1-blue-darken-55:														darken(@H1-blue, 0.55 * lightness(@H1-blue));
@H1-blue-darken-60:														darken(@H1-blue, 0.60 * lightness(@H1-blue));
@H1-blue-darken-65:														darken(@H1-blue, 0.65 * lightness(@H1-blue));
@H1-blue-darken-70:														darken(@H1-blue, 0.70 * lightness(@H1-blue));
@H1-blue-darken-75:														darken(@H1-blue, 0.75 * lightness(@H1-blue));
@H1-blue-darken-80:														darken(@H1-blue, 0.80 * lightness(@H1-blue));
@H1-blue-darken-85:														darken(@H1-blue, 0.85 * lightness(@H1-blue));
@H1-blue-darken-90:														darken(@H1-blue, 0.90 * lightness(@H1-blue));
@H1-blue-darken-95:														darken(@H1-blue, 0.95 * lightness(@H1-blue));



/* ==================================================================================================== */
/*                                                                                                      */
/* Foundation                                                                                           */
/*                                                                                                      */
/* ==================================================================================================== */

/* ---------------------------------------------------------------------------------------------------- */
/* Body                                                                                                 */
/* ---------------------------------------------------------------------------------------------------- */

@body-background-color:													@gray-darken-85;

/* ---------------------------------------------------------------------------------------------------- */
/* Borders                                                                                              */
/* ---------------------------------------------------------------------------------------------------- */

@border-color:															rgba(0, 0, 0, 0.1);
@border-inverse-color:													rgba(255, 255, 255, 0.1);

/* ---------------------------------------------------------------------------------------------------- */
/* Stage                                                                                                */
/* ---------------------------------------------------------------------------------------------------- */

@stage-background-color:												@white;

@stage-pod-light-background-color:										@gray-lighten-90;

@stage-pod-dark-background-color:										@H1-blue-darken-85;

/* ---------------------------------------------------------------------------------------------------- */
/* Page                                                                                                 */
/* ---------------------------------------------------------------------------------------------------- */

@page-background-color:													@white;



/* ==================================================================================================== */
/*                                                                                                      */
/* Typography                                                                                           */
/*                                                                                                      */
/* ==================================================================================================== */

/* ---------------------------------------------------------------------------------------------------- */
/* Links                                                                                                */
/* ---------------------------------------------------------------------------------------------------- */

@link-text-color:														@H1-green;
@link-text-decoration:													none;

@link-hover-text-color:													@H1-green-darken-40;
@link-hover-text-decoration:											none;

@link-active-text-color:												@H1-green-darken-80;
@link-active-text-decoration:											none;

/* ---------------------------------------------------------------------------------------------------- */
/* Fonts                                                                                                */
/* ---------------------------------------------------------------------------------------------------- */

@font-family-primary:													"Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-secondary:													"Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace:													Monaco, Menlo, Consolas, "Courier New", monospace;

/* ---------------------------------------------------------------------------------------------------- */
/* Text Margin Ratios                                                                                   */
/* ---------------------------------------------------------------------------------------------------- */

@text-margin-ratio-tall:												2;
@text-margin-ratio-short:												0.5;



/* ==================================================================================================== */
/*                                                                                                      */
/* Glyph Icons                                                                                          */
/*                                                                                                      */
/* ==================================================================================================== */

@icon-glyphs-font-file:														"glyphicons-halflings-regular";
@icon-glyphs-font-family:													"Glyphicons Halflings";
